p, .Steps{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Ing{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    font-size: 30px;
}
h1{
    font-size: 36px;
}
